<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>作用域插槽(template slot-scope="xxx")</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="js/vue.js"></script>
    </head>
    <body>
     <div id="root">
        <child>
            <template slot-scope="props">
                <li>{{props.item}}</li>
            </template>
        </child>       
     </div>
    </body>
</html>
<script>
    /*
    子组件<template slot-scopr="xxx">
    </template>作为作用域插槽
    在子组件的创建中使用<slot v-for="item of xxx" :item=item> </slot>
    依旧是在属性中获取父类的值(item)
    */
    Vue.component('child',{
        data:function(){
            return{
                list:[1,2,3,4]
            }
        },
        template:`<div>
                    <slot v-for="item of list" :item=item>
                        默认值
                    </slot>     
                  </div>`
    })

    var vm=new Vue({
        el:'#root',
        data:{
        }
    })
</script>